@use 'base/variables' as v;
@use 'base/mixins' as m;

.experiencia {

    @include m.contenedorSm;
    animation: revelar linear both;
    animation-timeline: view();
    animation-range: entry 5% cover 20%;

    @include m.tablet {
        margin-bottom: 10rem;
    }

    &__titulo {
        color: v.$blanco;
        text-align: center;
        margin: 5rem 0;
        border-top: 2px solid v.$cafe-opaco;
        padding-top: 1rem;

    }

    &__grid {

        @include m.grid(2, 1rem);
        grid-auto-rows: auto;
        grid-template-areas:
            "ladrillera ladrillera"
            "ladrilleraT ladrilleraT"
            "controlBackup controlBackup"
            "proyectos proyectosUL";

        @include m.tablet {
            @include m.grid(2, 1rem);
            grid-auto-rows: auto;
            grid-template-areas:
                "ladrillera ladrilleraT"
                "controlBackup ladrilleraT"
                "proyectos proyectosUL";
        }
    }

    &__ladrillera {
        grid-area: ladrillera;
        background-color: v.$rojo-experiencia;
        border-radius: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__titulo-ladrillera {
        color: v.$blanco;
    }

    &__empresa {
        @include m.formatearParrafo;
        color: v.$blanco;

    }

    &__duracion {
        color: v.$blanco;
    }

    &__ul {
        text-align: left;

        &--tareas {
            list-style-type: none;
            padding: 0;
        }
    }

    &__li {

        &--tareas {
            font-size: 1.6rem;
            line-height: 1.5;

            @include m.tablet {}
        }
    }

    &__ladrillera-tareas {
        grid-area: ladrilleraT;
        padding: 1rem;
        border-radius: 1rem;
        background-color: v.$negro;
        @include m.tablet{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        }
    }

    &__titulo-ladrillera-tareas {
        text-align: center;
        color: v.$blanco;

        @include m.tablet{
            margin-bottom: 2rem;
        }
    }

    &__lmControlBackup {
        grid-area: controlBackup;
        padding: 1rem;
        border-radius: 1rem;
        background-color: v.$verde-experiencia;
    }

    &__titulo-lmControlBackup {
        color: v.$blanco;
        text-align: center;
        text-shadow: 3px 3px 8px black;
    }

    &__empresa-lmControlBackup {
        color: v.$blanco;
        text-align: center;
        text-shadow: 3px 3px 8px black;
    }

    &__descripcion {
        text-align: justify;
        color: white;
        font-size: 1.6rem;
        line-height: 1.4;
        @include m.tablet{
            font-size: 1.6rem;;
            line-height: 1.3;
        }

        @include m.desktop{
            font-size: 1.8rem;;
            line-height: 1.4;
        }
    }

    &__proyectos {
        grid-area: proyectos;
        padding: 1rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: v.$estudios;

        @include m.desktop{
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    &__proyectos-i{
        font-size: 3.5rem;
        @include m.tablet{
            font-size: 5rem;
        }

        @include m.desktop{
            font-size: 10rem;
        }
    }

    &__proyectos-contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include m.tablet{
        }
    }

    &__titulo-proyectos{
        font-family: "Google Sans Code", monospace;
        font-size: 3.5rem;
        font-weight: v.$bold;
        margin: 0;
        @include m.tablet{
            font-size: 4rem;
        }

        @include m.desktop{
            font-size: 5rem;
        }
    }

    &__proyectos-ul{
        grid-area: proyectosUL;
        padding: 1rem;
        border-radius: 1rem;
        background-color: v.$estudios;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__ul-titulo-proyectos {
        padding: 0;
        list-style: none;
        line-height: 1.5;
        @include m.tablet{
            line-height: 1.3;
        }
    }

    &__li-titulo-proyectos{
        color: black;
        font-size: 1.4rem;
        text-align: center;
        @include m.tablet{
            font-size: 1.8rem;
            line-height: 1.4;
        }
        
        @include m.desktop{
            font-size: 2rem;
        }
    }

    &__eg {

        @include m.tablet{
            transition: opacity .3s;
            &:hover {
                opacity: .8;
            }
        }

    }
}

.tareas {

    &__grid {
        @include m.grid(2, 1rem);
        grid-auto-rows: auto;
        grid-template-areas:
            "soporte mantenimiento"
            "conectividad seguridad"
            "inventario indicadores";

        @include m.tablet {
            @include m.grid(2, 2rem);
            grid-auto-rows: auto;
            grid-template-areas:
                "soporte mantenimiento"
                "conectividad seguridad"
                "inventario indicadores";
        }
    }
    
    &__tarea {
        @extend .tareas;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: rgba(255, 255, 255, 0.05) 0px 6px 24px 0px, rgba(240, 240, 240, 0.08) 0px 0px 0px 1px;
        &__titulo {
            margin: 0;
            color: v.$blanco;
        }
        
        &__descripcion{
            @include m.formatearParrafo;
            font-size: 1.4rem;
            line-height: 1.4;
            color: v.$blanco;
        }
        
        &--i {
            font-size: 3rem;
            color: v.$blanco;

        }

        &--soporte {
            grid-area: soporte;
        }

        &--mantenimiento {
            grid-area: mantenimiento;
        }

        &--conectividad {
            grid-area: conectividad;
        }

        &--seguridad {
            grid-area: seguridad;
        }

        &--inventario {
            grid-area: inventario;
        }

        &--indicadores {
            grid-area: indicadores;
        }

    }

    &__tarea-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

}