@use 'base/variables' as v;
@use 'base/mixins' as m;

.experiencia {

    @include m.contenedorSm;
    animation: revelar linear both;
    animation-timeline: view();
    animation-range: entry 5% cover 20%;

    @include m.tablet {
        margin-bottom: 10rem;
    }

    &__titulo {
        color: v.$blanco;
        text-align: center;
        margin: 5rem 0;
        border-top: 2px solid v.$cafe-opaco;
        padding-top: 1rem;

    }

    &__grid {

        @include m.grid(2, 1rem);
        grid-template-rows: 10%;
        grid-template-areas:
            "ladrillera ladrillera"
            "ladrilleraT ladrilleraT"
            "controlBackup controlBackup"
            "proyectos proyectos";

        @include m.tablet {
            @include m.grid(2, 1rem);
            grid-template-rows: 20% 60% 20%;
            grid-template-areas:
                "ladrillera ladrilleraT"
                "controlBackup ladrilleraT"
                "proyectos proyectos";
        }
    }

    &__ladrillera {
        grid-area: ladrillera;
        background-color: v.$rojo-experiencia;
        border-radius: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__titulo-ladrillera {
        color: v.$blanco;
    }

    &__empresa {
        @include m.formatearParrafo;
        color: v.$blanco;

    }

    &__duracion {
        color: v.$blanco;
    }

    &__ul {
        text-align: left;

        &--tareas {
            list-style-type: none;
            padding: 0;
        }
    }

    &__li {

        &--tareas {
            font-size: 1.6rem;
            line-height: 1.5;

            @include m.tablet {}
        }
    }

    &__ladrillera-tareas {
        grid-area: ladrilleraT;
        padding: 1rem;
        border-radius: 1rem;
        background-color: v.$negro;
    }

    &__titulo-ladrillera-tareas {
        text-align: center;
        color: v.$blanco;
    }

    &__lmControlBackup {
        grid-area: controlBackup;
        padding: 1rem;
        border-radius: 1rem;
        background-color: v.$verde-experiencia;
    }

    &__titulo-lmControlBackup {
        color: v.$blanco;
        text-align: center;
    }

    &__empresa-lmControlBackup {
        color: v.$blanco;
        text-align: center;
    }

    &__descripcion {
        text-align: justify;
        color: black;
        font-size: 1.6rem;
        line-height: 1.4;
        @include m.tablet{
            font-size: 1.6rem;;
            line-height: 1.3;
        }

        @include m.desktop{
            font-size: 1.8rem;;
            line-height: 1.4;
        }
    }

    &__proyectos {
        grid-area: proyectos;
        padding: 1rem;
        border-radius: 1rem;
        background-color: v.$estudios;
    }



    &__eg {
        transition: opacity .3s;

        &:hover {
            opacity: .8;
        }
    }
}

.tareas {

    &__grid {
        @include m.grid(2, 1rem);
        grid-auto-rows: auto;
        grid-template-areas:
            "soporte mantenimiento"
            "conectividad seguridad"
            "inventario indicadores";

        @include m.tablet {
            @include m.grid(2, 2rem);
            grid-auto-rows: auto;
            grid-template-areas:
                "soporte mantenimiento"
                "conectividad seguridad"
                "inventario indicadores";
        }
    }
    
    &__tarea {
        @extend .tareas;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: rgba(255, 255, 255, 0.05) 0px 6px 24px 0px, rgba(240, 240, 240, 0.08) 0px 0px 0px 1px;
        &__titulo {
            margin: 0;
            color: v.$blanco;
        }
        
        &__descripcion{
            @include m.formatearParrafo;
            font-size: 1.4rem;
            line-height: 1.4;
            color: v.$blanco;
        }
        
        &--i {
            font-size: 3rem;
            color: v.$blanco;

        }

        &--soporte {
            grid-area: soporte;
        }

        &--mantenimiento {
            grid-area: mantenimiento;
        }

        &--conectividad {
            grid-area: conectividad;
        }

        &--seguridad {
            grid-area: seguridad;
        }

        &--inventario {
            grid-area: inventario;
        }

        &--indicadores {
            grid-area: indicadores;
        }

    }

    &__tarea-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

}