@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    position: fixed;
    top: 3%;
    left: 1rem;
    width: 95vw;
    z-index: 1;
    border-radius: 5rem;
    animation: header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem 1.5rem 1rem 1.5rem;

    @include m.tablet {
        justify-content: center;
        top: 2rem;
        left: 20%;
        width: 60dvw;
        gap: 0;
        padding: 0;
    }

    @include m.xl-tablet{
        width: 60dvw;
        left: 20%;
    }
    
    @include m.desktop{
        width: 50dvw;
        left: 25%;
    }
    @include m.xl-desktop{
        width: 50dvw;
        left: 25%;
    }

    &__logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: v.$naraja;
        @include m.tablet{
            display: none;
        }
    }
}

.navegacion {
    position: fixed;
    /*Ubicar navegación en el centro*/
    top: 15%;
    right: 50%;
    transform: translate(50%);
    height: 50vh;
    /**/
    width: 50vw;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    /*Mover links verticalmente*/
    justify-content: center;
    gap: 2rem;
    /**/

    align-items: center;
    padding: 1rem;
    background-color: #1c1c1c;
    /*Cortina que resalta la NavBar*/
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    /**/
    /*Esconder NavBar*/
    opacity: 0;
    visibility: hidden;
    transform: translate(50%, -25%);
    transition: all .4s ease;

    @include m.tablet {
        position: relative;
        top: 0;
        right: 0;
        transform: translate(0);
        height: auto;
        gap: 0;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
    }

    &__ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        gap: 2rem;
        padding: 0;

        @include m.tablet {
            flex-direction: row;
            justify-content: center;
            gap: 3rem;
        }

        @include m.xl-tablet{
            gap: 3rem;
        }

        @include m.desktop{
            gap: 5rem;
        }
        @include m.xl-desktop{
            gap: 5rem;
        }
    }

    &__enlace{
        text-decoration: none;
        color: white;
    }

    &__movil{
        color: white;
        font-size: 3rem;
        @include m.tablet{
            display: none;
        }
    }

    &__btn-salir{
        color: black;
        background-color: white;
        padding: .5rem;
        margin-bottom: 2rem;
        border-radius: .5rem;
        @include m.tablet{
            display: none;
        }
    }

}

.mostrar{
    opacity: 1;
    visibility: visible;
    transform: translate(50%, 0);
}

.esconder{
    opacity: 0;
    visibility: hidden;
}