@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    position: sticky;
    top: 3%;
    z-index: 1;
    border-radius: 5rem;
    animation: header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem 1.5rem 1rem 1.5rem;

    @include m.tablet {}

    &__logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: v.$naraja;
    }
}

.navegacion {

    position: fixed;
    /*Ubicar navegación en el centro*/
    top: 15%;
    right: 50%;
    transform: translate(50%);
    height: auto;
    /**/
    width: 95vw;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    /*Mover links verticalmente*/
    justify-content: center;
    gap: 2rem;
    /**/
    align-items: center;
    padding: 1rem;
    background-color: #1c1c1c;
    /*Cortina que resalta la NavBar*/
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    /**/
    /*Esconder NavBar*/
    opacity: 0;
    visibility: hidden;
    transform: translate(50%, -25%);
    transition: all .4s ease;

    @include m.tablet {
        
    }

    &__ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        gap: 2rem;
        padding: 0;
    }

    &__enlace{
        text-decoration: none;
        color: white;
    }

    &__movil{
        color: white;
        font-size: 3rem;
        @include m.tablet{

        }
    }

    &__btn-salir{
        color: black;
        background-color: white;
        padding: .5rem;
        margin-bottom: 2rem;
        border-radius: .5rem;
    }

}

.mostrar{
    opacity: 1;
    visibility: hidden;
    transform: translate(50%, 0);
}

.esconder{
    opacity: 0;
    visibility: hidden;
}